<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div class="container">
            <h1>Edit Menu Item</h1></br></br>
        <form action="{{ url_for(
                            'editMenuItem', 
                            restaurant_id=restaurant_id, 
                            menu_id=menu_id,
                            item_name=item
              )
              }}"method='post'>
            <h2>Name:</h2>
            <input type='text' placeholder='{{item.name}}' size='30' name='name'></br></br>
            <h2>Description:</h2>
            <input type='text' placeholder='{{item.description}}' size='30' name='description'></br></br>
            <h2>Price:</h2>
            <input type='text' placeholder='{{item.price}}' size='30' name='price'></br></br></br>
            <h2>Course:</h2>
            {% if item.course == 'Appetizer' %}
                <input type="radio" name="course" value="Appetizer" checked> Appetizer<br>
            {% else %}
                <input type="radio" name="course" value="Appetizer"> Appetizer<br>
            {% endif %}

            {% if item.course == 'Entree' %}
                <input type="radio" name="course" value="Entree" checked> Entree<br>
            {% else %}
                <input type="radio" name="course" value="Entree"> Entree<br>
            {% endif %}

            {% if item.course == 'Dessert' %}
                <input type="radio" name="course" value="Dessert" checked> Dessert<br>
            {% else %}
                <input type="radio" name="course" value="Dessert"> Dessert<br>
            {% endif %}

            {% if item.course == 'Beverage' %}
                <input type="radio" name="course" value="Beverage"> Beverage<br>
            {% else %}
                <input type="radio" name="course" value="Beverage"> Beverage<br>
            {% endif %}
                <input type='submit' value='Edit'>
                <a href='{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}'>cancel</a>
            </div>
        </form>
    </body>
</html>
